<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <%= link_to('Dogs App', dogs_path, class: 'nav-item nav-link active navbar-brand') %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to('New Dog', new_dog_path, class: 'nav-item nav-link active') %>
      </li>
      <li class="nav-item">
        <%= link_to('Camel Bootstrap', bootstrap_path, class: 'nav-item nav-link active') %>
      </li>
    </ul>

  </div>
</nav>